body,html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  font-family: 'Aliquam',FoundersGrotesk-Regular,Arial,Helvetica,sans-serif;
}
 @font-face{ font-family:'OdinBold'; src: '../fonts/OdinBold-MRzP.otf' ;}
 @font-face{font-family:'Aliquam'; src:'../fonts/Aliquam-nX00.ttf';}

body /*background*/
{
  background : #DCCCF2;
  background : rgba(220, 204, 242, 1);
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
h1,h2,h3,h4,h5,h6,p, a:link,a:visited, a:hover, a:active{
  color:  #7063BF;
  margin:0px;
  letter-spacing: .15rem;
  line-height: 1.5;
}
h1{ 
  font-family:'OdinBold',FoundersGrotesk-Regular,Arial,Helvetica,sans-serif;
}

div{ 
  display:block;
  unicode-bidi: isolate;
  margin:0px;
}
/*section{ 
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center; 
  min-height: 400px; 
  padding: 0px;
  margin-top: 100px;
}*/
.logo{
  position: absolute;
  top:0;
  left: 0;
  margin:10px 10px 100px 10px;
}
.logo-img{
  height: auto;
  width: 50%;
}

.intro{
  position: relative;
  /*flex-direction: column;
  align-items: center;*/ 
  padding: 0px;
  margin-top: 150px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  /*grid-template-areas:
    "Upper-Layer"
    "Middle-Layer"
    "Lower-layer";*/
  transform: translatey(0px);
	animation: float 8s ease-in-out infinite;
  }
  
.wave-top
 {
  /*grid-area: Upper-Layer;
  position: relative;*/
  top:0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 2;
  margin:0px auto;
}


.wave-boba{
  position:absolute;
  top:0;
  left:0;
  right:0;
  margin:auto;
  width:auto;

  /*transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
  width:1746; 
  height:942.95; */
}
.wave-cat{ 
  z-index: 3;
  top: 1.5rem;
  min-height:750px;
  max-height:600px;
  
}
.boba-centre{
  z-index: 4;
  top:47%;
  left:12%; 
  height:60%;

}
.boba-float{
  z-index: 2;
  top:22%;
  height:120%;
}


.wave-mid{
  /*grid-area: Middle-Layer;
  position: relative;*/
  background-color: #7063BF;
  top:0;
  left:0;
  width: 100%;
  overflow: hidden;
  height:800px;
  padding:0px;
  z-index: 1;
  margin:0px auto;
}

.wave-bot
{
  /*grid-area: Lower-layer;*/
  left: 0;
  width: 100%;
  height:auto;
  overflow: hidden;
  line-height: 0;
}
.wave-bg{
  z-index: 2;
  width: calc(113% + 1.3px);
  overflow: visible;
  /*height: 145px;*/
}

/*
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-40px);
	}
	100% {
		transform: translatey(0px);
	}
}*/

.wave-boba-spiral{
  z-index: 3;
  position:absolute;
  top: 450px;
  margin: auto;
  left:0;
  right:0;
  bottom:0;
  width:auto;
  height:45%;
  transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

/* Heading Lines */
.about-bg{
  display: flex;
  justify-content: center;
  position: relative; 
  padding: 0px;
  z-index: -1;
  margin-bottom: auto;
  margin-top: -20rem;
  transform: scale(1.)
}

@media screen and (min-width: 1580px){
  .about-bg svg{
    margin-top: -20rem;
    transform: scale(1.15);
  }
}
@media screen and (min-width:1200px) and (max-width:1580) {
  .about-bg svg{
    margin-top: -20rem;
    transform: scale(1.75);
  }
}
@media screen and (min-width: 992px) and (max-width:1199px){
  .about-bg svg{
    margin-top: -10rem;
    transform: scale(2);
    margin-bottom: 4%;
    
  }
} 
@media screen and (min-width: 768px) and (max-width:991px){
  .about-bg svg{
    margin-top: -5rem;
    transform: scale(2.75);
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 767px){
  .about-bg svg{
    margin-top: -5rem;
    transform: scale(4);
    margin-bottom: 20%;
  }
}

.about{
  position: absolute;
  margin: 25rem auto 0;
  width:auto;
  text-align: center;
  justify-content: center;
  max-width: 1000px;
  min-width:700px;
  padding:auto;
  z-index: 1;
  letter-spacing: 1rem;
}
.about h2{
  color: #ffff;
}
/*Menu Showcase - CHANGE PROPERTIES IF IT LOOKS WEIRD*/
.menu{
  position:static;
  margin-top: 1%;
  margin-left:auto;
  margin-right:auto;
  max-width: 1000px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.menu h1{
  margin:2rem auto 1rem;
  letter-spacing:4px;
  line-height: 4rem;
  font-size: 3rem;
}
.menu h2{
  letter-spacing: 5px;
}
.menu-item{
  flex: 1 0 30%;
  align-items: center;
  justify-content: center;
  display:inline-block;
  width:100%;
  height: auto;
  margin:1rem;
}

/*Drinks*/

.drinks img{ 
  margin:auto;
  display:block;
  max-width: auto;
}
.drinks{
  --transform-speed: 250ms;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  max-width: 12rem; 
  margin-inline: auto;
}

.drinks-container{
  /*background:red; */
  aspect-ratio: 1 / 1.25;
  display: grid; 
  align-items: end; 
  border-radius: 0 0 100vw 100vw;
  overflow: hidden;
  transition: transform var(--transform-speed) ease-in-out;
}
.drinks-container:hover{
  transform: scale(1.1)
}
.drinks-container:after{
  content: " ";
  height: 10px;
  position: absolute;
  top:390px;
  width: 100%;
}
.drinks-circle {
  position: absolute;
  inset:auto 0 0;
  width:100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-inline: auto;
  object-fit: cover;
} 

.drinks-img{
  position: relative;
  left: .2rem; 
  width:120px;
  z-index:2;
  transform: translateY(3.5rem) scale(1.15);
  transition: transform calc(var(--transform-speed )*1.2) ease-in;
}
.drinks-container:hover .drinks-img{
  transform: 
    scale(1.15)
    translateY(1.75rem);
}

.divider{
  position: relative;
  margin: 1.5rem auto .5rem;
  background:#7063BF;
  height:4px; 
  width:180px;
}
.name{
  text-align: center;
}



.boba-divider{
 position: relative;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  width:100%;
  padding: 0px;
  top:0;
  margin: 0px;
  overflow: clip;
  display:inline-flex;
  z-index:2 ;
  
}
.boba-left{
  /*grid-area: left;*/
  margin:0px;
  top:0;
  left:0;
  overflow: hidden;
  height:auto;
  width:60%;
 z-index: 2;
}
.boba-mid{
  /*grid-area: middle;*/
  position: absolute;
  height: auto;
  width:20%;
  bottom:0;
  margin: 0px;
  z-index: 3;
}
.boba-right{
  /*grid-area: right;*/
  margin: 0px;
  top:0;
  right:0;
  overflow: hidden;
  height: auto;
  width:60%;
 z-index: 2;
}

.footer{
  position: relative;
  overflow: visible;
  
  /*flex-direction: column;*/
  white-space: nowrap;
  align-items: center;  
  padding: 0px;
  margin:0;
  bottom:0;
  min-height: 200px;
	width:100vw;
  z-index: 1;
  
}
/* .footer svg{
  overflow:visible;
  width:100%;
} */

#fwave {
  position: absolute;
  top: 0;
  left: 0;
	z-index:-1;
	height: 100%;
	width: 100%;
  overflow: scroll;
}

.info{
  position: relative;
  z-index: 2;
  padding:7% 10% 0%;
  margin:auto;
  overflow: hidden;
}
.sub-info{
  display: inline-block;
  vertical-align:baseline;
  margin-left: 1%;
  padding: 0;
  width: 100%;
  justify-items:left;
  align-items: center;
}
#info-logo{
  height:auto;
  width:40%;
  margin-bottom: 10px;
  position: relative;
}
.sub-info p{
  font-size:2.2vw;
  font-weight: 400;
  color: white;
  letter-spacing:1.5px;
  font-weight: 500;
}
.sub-info img{
  margin:0px;
  padding:0px;
  height:auto;
  width:4%;
}
.socialmedia{
  margin-top:20px;
}

#return-to-top {
  position: fixed;
  z-index: 4;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  border-radius: 35px;
  border-radius: 35px;
  display: none;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: #7063bf;
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}
  